<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Pagina Principal</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="css/styles.css">
</head>
<body>
	<img src="img/logo.png" alt="Logo La Rebaja" class="img-logo">
	<br>
	<div class="container mt-4">
		<a href="/" class="btn btn-primary">Volver a la página principal</a> <br>
		<br>
		<form action="/ListarSucursalesCiudades" method="get">
			<div class="mb-3">
				<label for="ciudad" class="form-label">Selecciona una
					ciudad:</label> <select class="form-select" name="nombre" id="ciudad">
					<option value="">Todas las ciudades</option>
					<option value="Bogota">Bogota</option>
					<option value="Cali">Cali</option>
					<option value="Santa Marta">Santa Marta</option>
					<option value="Medellin">Medellin</option>
				</select>
			</div>
			<button type="submit" class="btn btn-primary">Buscar</button>
		</form>
		<br>
		<table class="table table-striped">
			<thead class="table-danger">
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Dirección</th>
					<th scope="col">Ciudad</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="sucursal: ${sucursales}">
					<td th:text="${sucursal.id}"></td>
					<td th:text="${sucursal.direccion}"></td>
					<td th:text="${sucursal.idCiudad.getNombre()}"></td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>